#jinja2: lstrip_blocks: True
heat_template_version: 2018-03-02

description: Template to deploy master and slave instances for openstack workload monitoring

parameters:
        internal_network_cidr:
                type: string
                description: cidr of private mons network
                default: 10.0.1.0/24
        public_network_uuid:
                type: string
                description: UUID of public network
        public_network:
                type: string
                description: name of public network
        master_image_id:
                type: string
                description: image id of master instance
        slave_image_id:
                type: string
                description: image id of slave instance
        master_instance_name:
                type: string
                description: master instance name
        slave_instance_name:
                type: string
                description: slave instance name
        availability_zone:
                type: string
                description: name of availability zone
                default: nova

resources:
        {% include "common_resources.j2" %}
                        
        {% include "daemon_set.j2" -%}

        {% include "random_set.j2" %}
        mons_master_port:
                type: OS::Neutron::Port
                properties:
                        name: mons-master-port
                        network: { get_resource: mons_network }
                        security_groups:
                                - get_resource: mons_security_group

        mons_master_floating_ip:
                type: OS::Neutron::FloatingIP
                properties:
                        floating_network: { get_param: public_network }
                        port_id: { get_resource: mons_master_port }

	{% include "master_user_data.j2" %}

        mons_master_instance:
                type: OS::Nova::Server
                properties:
                        flavor: { get_resource: mons_master_flavor }
                        image: { get_param: master_image_id }
                        key_name: { get_resource: mons_key_pair }
                        networks:
                                - port: { get_resource: mons_master_port }
                        security_groups:
                                - { get_resource: mons_security_group }
                        name: { get_param: master_instance_name }
                        user_data: { get_resource: master_user_data }        
                        metadata:
                                - hostname: { get_param: master_instance_name  }
