        {%- for i in range(random_instance_count) %}
        snat_network_{{ loop.index }}:
                type: OS::Neutron::Net
                properties:
                        name: snat-network-{{ loop.index }}

        snat_subnet_{{ loop.index }}:
                type: OS::Neutron::Subnet
                properties:
                        network_id: { get_resource: snat_network_{{ loop.index }} }
                        cidr: 192.168.{{ loop.index }}.0/24
                        name : snat-subnet-{{ loop.index }}

        snat_router_{{ loop.index }}:
                type: OS::Neutron::Router
                properties:
                        name: snat-router-{{ loop.index }}

        snat_router_extgw_{{ loop.index }}:
                type: OS::Neutron::RouterGateway
                properties:
                        network_id: { get_param: public_network_uuid }
                        router_id: { get_resource: snat_router_{{ loop.index }} }

        snat_router_inerface_int_{{ loop.index }}:
                type: OS::Neutron::RouterInterface
                properties:
                        router_id: { get_resource: snat_router_{{ loop.index }} }
                        subnet_id: { get_resource: snat_subnet_{{ loop.index }} }

        snat_mons_port_{{ loop.index }}:
                type: OS::Neutron::Port
                properties:
                        name: snat-mons-port-{{ loop.index }}
                        network: { get_resource: mons_network }
                        fixed_ips:
                                - subnet_id: { get_resource: mons_subnet }
                        security_groups:
                                - default
                                - { get_resource: mons_security_group }

        snat_router_inerface_mons_{{ loop.index }}:
                type: OS::Neutron::RouterInterface
                properties:
                        router_id: { get_resource: snat_router_{{ loop.index }} }
                        port_id: { get_resource: snat_mons_port_{{ loop.index }} }

        mons_slave_port_random_{{ loop.index }}:
                type: OS::Neutron::Port
                properties:
                        name: mons-slave-port-random-{{ loop.index }}
                        network: { get_resource: snat_network_{{ loop.index }} }
                        fixed_ips:
                                - subnet_id: { get_resource: snat_subnet_{{ loop.index }} }
                        security_groups:
                                - default
                                - { get_resource: mons_security_group }

        {% if assign_floating_ip_random_set %}
        mons_slave_floating_ip_random_{{ loop.index }}:
                type: OS::Neutron::FloatingIP
                properties:
                        floating_network: { get_param: public_network }
                        port_id: { get_resource: mons_slave_port_random_{{ loop.index }} }

        {% endif %}
        mons_slave_instance_random_{{ loop.index }}:
                type: OS::Nova::Server
                properties:
                        availability_zone: { get_param: availability_zone }
                        flavor: { get_resource: mons_slave_flavor }
                        image: { get_param: slave_image_id }
                        key_name: { get_resource: mons_key_pair }
                        networks:
                                - port: { get_resource: mons_slave_port_random_{{ loop.index }} }
                        name:
                                str_replace:
                                        template: slave_name-idx
                                        params:
                                                slave_name: { get_param: slave_instance_name }
                                                idx: {{ loop.index  }}
                        {% if check_internet_access_random_set %}
                        user_data_format: SOFTWARE_CONFIG
                        user_data: |
                                #cloud-config
                                bootcmd:
                                        - python3 /home/ubuntu/monitoring/customCollector/custom_collector.py
                                {% if add_google_dns %} 
                                runcmd:
                                        - sed -i 's/#DNS=/DNS=8.8.8.8/g' /etc/systemd/resolved.conf
                                        - rm /etc/resolv.conf
                                        - ln -s /run/systemd/resolve/resolv.conf /etc/resolv.conf
                                {% endif %}
                        {% endif %}
                depends_on: mons_slave_port_random_{{ loop.index }}
        {% endfor %}
